// Define variables for your color scheme

// For example:
$red: #930214;
$flash-blue: #07FFF0;
$blue: #265994;
$yellow: #F4DF87;
$green: #417505;
$gray: #9B9B9B;

$dark-gray: #393939;
$medium-gray: #9B9B9B;
$light-gray: #F4F4F4;
$orange: #E78D0D;
$cream: #F1E4D3;
