* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.section {
  padding: 96px 10px;
}

.section-one {
  color: $cream;
  height: 90vh;
}

#one h1 {
  font-size: 60px;
}

.home-img {
  margin-bottom: 40px;
}

#one p {
  font-style: italic;
  font-size: 20px;
}

.logos {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}




.section-two {
  background-color: white;
  background-size: cover;
}

.title-section {
  color: $dark-gray;
  margin: 0px auto 64px auto;
}

#six h2,
#five h2,
#three h2,
#two h2 {
  font-size: 40px;
  text-align: center;
}

#two p {
  color: $medium-gray;
  font-size: 18px;
  font-weight: 500;
  max-width: 700px;
  margin: 0px auto;
}

.section-three {
  padding: 50px 10px;
  background-color: $orange;
  background-size: cover;
}


.wrapper {
  margin: 0 auto;
  max-width: 700px;
}

.covid {
  color: white;
  font-weight: 400;
  font-style: italic;
}

.covid-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-four {
  background-color: white;
  background-size: cover;
  padding: 0px 15px 96px 15px;
  max-width: 700px;
}

.logos-sap {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    margin: 0px 30px;
  }
}

#four h2 {
  margin-bottom: 30px;
  text-align: center;
}

#four span {
  font-family: 'Bebas Neue', cursive;
  font-size: 18px;
}

.separator {
  margin: 5px auto 10px auto;
  text-align: center;
}

.devis {
  color: $dark-gray;
}

.title-section span {
  font-size: 14px;
  color: $medium-gray;
}

.section-five {
  background-color: $cream;
  background-size: cover;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto 15px auto;
}
.avatar img {
  border-radius: 50%;
  border: solid 5px white;
  background-color: $light-gray;
}

.avatar span {
  color: $orange;
  font-size: 20px;
  font-weight: bold;
}

.profile {
  margin: 0 auto;
  max-width: 500px;
  color: $dark-gray;
  text-align: center;
  font-style: italic;
}

.contact h2 {
  color: $cream;
  margin: 0px auto 30px auto;
}
