.navbar-source {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  margin-right: 10px;
}

.logo span  {
  font-family: 'Bebas Neue', cursive;
  margin: none;
  font-size: 24px;
  color: $cream;
}

li.nav-item {
  font-family: 'Bebas Neue', cursive;
  margin: none;
  font-size: 24px;
  color: $cream;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-bottom: 0px;
}

.nav-links li {
  list-style: none;
  text-align: center;
}

.nav-links a {
  color: $cream;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 18px;
}

.nav-links a:hover {
  color: $orange;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: $light-gray;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
  body {
    overflow-x: hidden;
  }

  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px){
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: $dark-gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}
